# //registry.npmjs.com/:_authToken=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
# @nord-clan:registry=https://registry.npmjs.com

# //npm.pkg.github.com/:_authToken=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
# @nord-clan:registry=https://npm.pkg.github.com

# //harbor.nordclan:4873/:_authToken="afJ1HZPTDrBhGszv8OYplQ=="
# @nord-clan:registry=http://harbor.nordclan:4873/